.WatchlistMain .header input {
  padding: 10px;
  font-size: 16px;
  border: 2px solid #FFF;
  width: 165px;
}

.WatchlistMain .header button {
  padding: 10px;
  font-size: 16px;
  margin: 10px;
  margin-right: 0px;
  background-color: darkcyan;
  color: #FFF;
  border: 2px solid darkcyan;
}

.WatchlistMain .header button:hover {
  background-color: darkslategrey;
  border: 2px solid darkslategrey;
  cursor: pointer;
}

.WatchlistMain .theList li {
  color: #333;
  background-color: rgba(255, 255, 255, .7);
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 5px;
  list-style: none;

  transition: background-color .2s ease-out;
}

.WatchlistMain .theList li:hover{
  background-color: palevioletred;
  cursor: pointer;
}

ul.theList {
  padding: 0;
}

.watch_main {
  height: 800px;
  padding-left: 200px;
  padding-right: 200px;
  background-color: #102e3b;
  background-image: -webkit-linear-gradient(135deg, transparent 41%, hsla(0, 0%, 100%, .03) 0), -webkit-linear-gradient(315deg, transparent 50%, hsla(0, 0%, 100%, .04) 0);
  background-image: linear-gradient(315deg, transparent 41%, hsla(0, 0%, 100%, .03) 0), linear-gradient(135deg, transparent 50%, hsla(0, 0%, 100%, .04) 0);
}

.active_list {
  position: relative;
  display: block;
  width: auto;
  height: 450px;
  padding-top: 20px;
  margin-right: auto;
  margin-bottom: 20px;
  margin-left: auto;
  border-radius: 3px;
  background-color: #052332;
  box-shadow: 14px 14px 22px 0 rgba(0, 0, 0, .3);
}

.title_main {
  display: block;
  width: 40%;
  margin: 0px auto 20px;
  padding-top: 10px;
  font-family: Exo, sans-serif;
  color: #fff;
  font-size: 26px;
  font-weight: 300;
  text-align: center;
}

.navbar_active_list {
  position: static;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 70%;
  height: 60px;
  margin-right: auto;
  margin-bottom: 40px;
  margin-left: auto;
  padding-top: 20px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.list {
  position: relative;
  display: block;
  width: 180px;
  height: 100px;
  margin-right: 10px;
  margin-left: 10px;
  padding-top: 0px;
  padding-right: 5px;
  padding-left: 20px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  border-radius: 3px;
  background-color: rgba(3, 21, 30, .6);
  box-shadow: 11px 11px 22px 0 rgba(0, 0, 0, .3), inset -7px -7px 50px -7px rgba(0, 0, 0, .2);
}

.list.active {
  box-shadow: none;
}

.list.active_in_line {
  background-color: rgba(3, 21, 30, .6);
  box-shadow: 17px 17px 22px 0 rgba(0, 0, 0, .4);
}

.list.active_list_in_line {
  padding-top: 20px;
  background-color: #03151e;
  box-shadow: 18px 18px 22px 0 rgba(0, 0, 0, .3), inset -21px -21px 50px -7px rgba(0, 0, 0, .3);
}

.text_list {
  margin-top: 20px;
  color: #fff;
  text-align: left;
}

.delete_button {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  padding: 0px 4px 5px;
  float: right;
  border: 1px solid #4f72fd;
  border-radius: 100%;
  background-color: transparent;
  color: #4f72fd;
  font-size: 12px;
  text-align: center;
}


.rename_button {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  padding: 1px 5px 5px;
  float: right;
  border: 1px none #4f72fd;
  border-radius: 100%;
  font-size: 10px;
  text-align: center;
}

.form_active_list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 36px;
  margin-left: auto;
  float: left;
  box-shadow: 4px 4px 13px 0 rgba(0, 0, 0, .2);
}

.input {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 180px;
  height: 30px;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  border: 1px solid #4f72fd;
  border-radius: 6px;
  opacity: 0.62;
}


.body_list {
  display: block;
  width: 70%;
  margin-right: auto;
  margin-left: auto;
}

.line {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 36px;
  padding-top: 7px;
  padding-right: 70px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-bottom: 0.4px solid hsla(0, 0%, 100%, .85);
}

.text_line {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  color: #fff;
}

.text_line.white {
  color: #fff;
}

.text_line.column_name {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  color: #4f72fd;
  font-weight: 600;
}

.text_line.column_name.left_side {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  color: #4f72fd;
}

.text_line.neg_value {
  color: #e96868;
}

.text_line.pos_value {
  color: #55bb6d;
}

.text_line.left_side {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}



.list_title {
  display: block;
  height: 50px;
  padding-top: 5px;
  color: #fff;
  text-align: left;
  text-transform: uppercase;
}

.edit_button {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  padding: 0px 4px 5px;
  float: right;
  border: 1px solid #4f72fd;
  border-radius: 100%;
  background-color: transparent;
  background-image: url('../images/pen.png');
  background-position: 50% 50%;
  background-size: auto 70%;
  background-repeat: no-repeat;
  color: #4f72fd;
  font-size: 12px;
  text-align: center;
}

.logo_infront {
  display: block;
  width: 100px;
  height: 50px;
  margin-right: auto;
  margin-left: auto;
  background-image: url('../images/infront-white.png');
  background-position: 0px 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.navbar_main {
  background-color: transparent;
}

.container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 20px;
  margin-left: 30px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.button_remove_active_list {
  position: absolute;
  right: 20px;
  bottom: 20px;
  height: 30px;
  margin-left: 5px;
  padding-top: 6px;
  border: 0.6px none #4766e3;
  border-radius: 6px;
  background-color: transparent;
  background-image: url('../images/remove.png');
  background-position: 50% 50%;
  background-size: auto 54%;
  background-repeat: no-repeat;
}

.button_rename_active_list {
  position: static;
  top: 20px;
  right: 60px;
  height: 30px;
  margin-left: 10px;
  padding-top: 6px;
  border: 0.6px none #4766e3;
  border-radius: 6px;
  background-color: transparent;
  background-image: url('../images/pen.png');
  background-position: 50% 50%;
  background-size: auto 50%;
  background-repeat: no-repeat;
}

.bold-text {
  display: block;
  font-size: 16px;
  font-weight: 500;
}

.text_input_form {
  margin-right: 10px;
  padding-top: 10px;
  color: #fff;
  text-transform: uppercase;
}

.button_add_stock {
  position: static;
  top: 20px;
  right: 60px;
  width: 50px;
  height: auto;
  padding-top: 0px;
  padding-right: 0px;
  padding-left: 0px;
  border-style: solid solid solid none;
  border-width: 0.6px;
  border-color: rgba(71, 102, 227, .51);
  border-radius: 0% 3px 3px 0%;
  background-color: #03151e;
  color: #fff;
  font-size: 30px;
  line-height: 20px;
  font-weight: 300;
}

.text_field_stock {
  height: auto;
  padding-left: 20px;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(71, 102, 227, .51);
  border-radius: 3px 0px 0px 3px;
  background-color: transparent;
  color: #fff;
}

.form_stock {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 36px;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.avalible_list {
  position: relative;
  display: block;
  width: auto;
  height: 200px;
  margin-right: auto;
  margin-bottom: 20px;
  margin-left: auto;
  padding-top: 20px;
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 3px;
  background-color: #052332;
  box-shadow: 14px 14px 22px 0 rgba(0, 0, 0, .3);
}

.list_line {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 20px;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.form_avalible_list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 36px;
  margin-right: 10px;
  float: right;
  box-shadow: 4px 4px 13px 0 rgba(0, 0, 0, .2);
}

.button_add_list {
  position: static;
  top: 20px;
  right: 60px;
  width: 50px;
  height: auto;
  padding-top: 0px;
  padding-right: 0px;
  padding-left: 0px;
  border-style: solid solid solid none;
  border-width: 0.6px;
  border-color: rgba(71, 102, 227, .51);
  border-radius: 0% 3px 3px 0%;
  background-color: #03151e;
  color: #fff;
  font-size: 30px;
  line-height: 20px;
  font-weight: 300;
}

.text_field_list {
  height: auto;
  padding-left: 20px;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(71, 102, 227, .51);
  border-radius: 3px 0px 0px 3px;
  background-color: transparent;
  color: #fff;
}

.form_list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 36px;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.button_remove_list {
  position: absolute;
  right: 5px;
  bottom: 3px;
  height: 30px;
  margin-left: 5px;
  padding-top: 6px;
  border: 0.6px none #4766e3;
  border-radius: 6px;
  background-color: transparent;
  background-image: url('../images/remove.png');
  background-position: 50% 50%;
  background-size: auto 46%;
  background-repeat: no-repeat;
}

.button_rename_list {
  position: absolute;
  right: 30px;
  bottom: 3px;
  height: 30px;
  margin-left: 10px;
  padding-top: 6px;
  border: 0.6px none #4766e3;
  border-radius: 6px;
  background-color: transparent;
  background-image: url('../images/pen.png');
  background-position: 50% 50%;
  background-size: auto 46%;
  background-repeat: no-repeat;
}

.text_extra {
  margin-top: 5px;
  color: hsla(0, 0%, 100%, .5);
  font-size: 12px;
  text-align: left;
}

.button_remove_stock {
  position: absolute;
  top: 10px;
  right: 0px;
  bottom: 0px;
  width: 16px;
  height: 16px;
  padding-top: 0px;
  padding-right: 0px;
  padding-left: 0px;
  border-style: solid;
  border-width: 0.4px;
  border-color: rgba(79, 114, 253, .5);
  border-radius: 100%;
  background-color: transparent;
  color: #4f72fd;
  font-size: 20px;
  line-height: 16px;
  font-weight: 100;
  text-align: center;
  text-decoration: blink;
}

.line_column_name {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 36px;
  padding-top: 5px;
  padding-right: 70px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-bottom: 0.4px solid hsla(0, 0%, 100%, .85);
}

